body{
    font-family:Arial, Helvetica, sans-serif
}
header{
    border-color:lightblue;
    border-width:2px;
    border-style:solid;
    padding:5px;
    margin:5px;
}
.logo{
    padding:2px;
    float:left;
    width:50px;
}
h1{
    
}
nav{
    height:75px;
    clear:both;
}
.instructor{
    float:left;
    width:15%;
    padding:5%;
}

.instructor-pic{
    width:80%;
    padding:10%;
    
}
footer{
    clear:both;
}