header{
    border-color:lightblue;
    border-width:2px;
    border-style:solid;
    padding:5px;
    margin:5px;
}
.logo{
    padding:2px;
    float:left;
    width:50px;
}
h1{
    
}
nav{
    clear:both;
}